@model IEnumerable<PastoralEmpleo.Models.Studies>
@{
    ViewData["Title"] = "CurriculumVitae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <section>

        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-center"><i class="zmdi zmdi-account zmdi-hc-fw"></i> <small style="color:orange">Listado Hojas Vida</small></h1>
            </div>
        </div> 


        <section>

            <div class="container-fluid">
                <div class="panel panel-success">

                    <div class="panel-success" style="overflow-x:auto; width:1080px">

                        <div class="panel-body">
                            <div class="table-responsive">

                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Titulo</th>
                                            

                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Obtainedtitle)
                                            </td>
                                            
                                            <td>
                                                <ul class="breadcrumb breadcrumb-tabs">
                                                    <li>

                                                        

                                                        <a asp-controller="Document" asp-action="Generar" class="btn btn-outline-warning btn-rounded" w-md waves-effect waves-light m-b-5" style="color:#ffffff">
                                                            Imprimir HV
                                                        </a>

                                                    </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </section>
    </section>

</body>

