@{
    ViewData["Title"] = "Contact";
}


<section>    

    <div class="row">       

        <div class="container-fluid">
            <div class="panel panel-info">
                @Html.AntiForgeryToken()

                <fieldset class="text-center">
                    <legend><i class="zmdi zmdi-account-box"></i> &nbsp; MÁS QUE UN EMPLEO, ES UNA VOCACIÓN</legend>
                </fieldset>
            </div>
        </div>

    </div>

    <div class="image">
        <img src="~/images/buen-samaritano1.jpg" />
    </div>

</section>
